<div id="page-wrapper">
            <div class="sectionlayout">
                <div class="headerpositionleft">
            {{ page.header_left }}
                </div>
                <div class="headerpositioncenter">
            {{ page.header_center }}
                </div>
                <div class="headerpositionright">
            {{ page.header_right }}
                    
                </div>
            </div>
            <div class="contentblock">
                <div class="sidebar">
                    {{ page.sidebar_first }}
                </div>
                <div class="contents">
                    {{ page.content }}
                </div>
                <div class="sidebarsecond">
                    {{ page.sidebar_second }}
                </div>
              </div>       
                <div class="footer">
                    {{ page.footer }}
                </div> 
             
</div>